.Box_header
  h1.header_page Welcome to Unitymyway
  h2.sub_header Are you a buyer or seller
.Box_header_2
  span.check_box
    input#buyer_btn(type='checkbox')
    label.label_btn(for='buyer_btn') I am Buyer
  span.check_box
    input#seller_btn(type='checkbox')
    label.label_btn(for='seller_btn') I am Seller
.footer_box
  a.next_step(href='#') Next